@charset "utf-8";
/* CSS Document */
.qiqiu{ position:fixed; width:100px; height:200px;}
.qiqiu div{ width:70px; height:65px; background:url(/static/img_birth/0.png) no-repeat center center; padding:15px 5px 0; text-align:center; margin:0 auto; background-size:100% auto;}
.qiqiu img{ width:100%; height:auto; display:block;}

.qiqiu1{ bottom:-200px; left:360px;animation: myfirst 20s linear infinite; z-index:2222;animation-delay:0s;-webkit-animation: myfirst 20s linear infinite; z-index:2222;-webkit-animation-delay:0s; }
.qiqiu2{ bottom:-200px; left:500px;animation: myfirst2 22s 1s linear infinite;animation-delay:2s;width:70px;-webkit-animation: myfirst2 22s 1s linear infinite;-webkit-animation-delay:2s;}
.qiqiu3{ bottom:-200px; left:640px;animation: myfirst3 22.2s linear infinite; z-index:2222;animation-delay:3s;-webkit-animation: myfirst3 22.2s linear infinite;-webkit-animation-delay:3s; }
.qiqiu4{ bottom:-200px; left:800px;animation: myfirst4 21s 0.2s linear infinite; z-index:2222;animation-delay:5s;-webkit-animation: myfirst4 21s 0.2s linear infinite;-webkit-animation-delay:5s; }
.qiqiu5 div{ width:50px; height:55px; padding: 5px 5px 0; margin:0 auto}

.qiqiu5{ bottom:-200px; left:940px;animation: myfirst5 19.5s 1.2s linear infinite;animation-delay:4s;width:60px;}
@keyframes myfirst
{
from {bottom: -200px;}
to {bottom: 800px;}
}
@keyframes myfirst2
{
from {bottom: -200px;}
to {bottom: 850px;}
}
@keyframes myfirst3
{
from {bottom: -200px;}
to {bottom: 820px;}
}
@keyframes myfirst4
{
from {bottom: -200px;}
to {bottom: 780px;}
}
@keyframes myfirst5
{
from {bottom: -200px;}
to {bottom: 830px;}
}
@keyframes myfirst6
{
from {left: 1060px;}
to {left: 1250px;}
}
@keyframes myfirst7
{
from {left: 180px;}
to {left: 400px;}
}
@keyframes myfirst8
{
from {left: 50px;}
to {left: 350px;}
}
@keyframes myfirst9
{
from {left: 762px;}
to {left: 1000px;}
}
@-webkit-keyframes myfirst
{
from {bottom: -200px;}
to {bottom: 800px;}
}
@-webkit-keyframes myfirst2
{
from {bottom: -200px;}
to {bottom: 850px;}
}
@-webkit-keyframes myfirst3
{
from {bottom: -200px;}
to {bottom: 820px;}
}
@-webkit-keyframes myfirst4
{
from {bottom: -200px;}
to {bottom: 780px;}
}
@-webkit-keyframes myfirst5
{
from {bottom: -200px;}
to {bottom: 830px;}
}
@-webkit-keyframes myfirst6
{
from {left: 1060px;}
to {left: 1250px;}
}
@-webkit-keyframes myfirst7
{
from {left: 180px;}
to {left: 400px;}
}
@-webkit-keyframes myfirst8
{
from {left: 50px;}
to {left: 350px;}
}
@-webkit-keyframes myfirst9
{
from {left: 762px;}
to {left: 1000px;}
}