<%include file="header.html"/>
<script type="text/javascript" src="/static/js/base.js"></script>


<div class="page-header">
	<h1>分类目录管理 <small>分类目录管理修改</small></h1>
</div>
<div class="third">
	<form method="post"  class="forms columnar" action="/manager/category" >
		<input type="hidden" name="id" value="${caty['id']}" />
			<ul>
				<li>
					<section>名称:</section>
					<input name="name" type="text" class="width-50" id="name" value="${caty['name']}" />
				</li>
				<li>
					<section>排序:</section>
					<input name="id_num" type="text" class="width-50" id="id_num" value="${caty['id_num']}" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"/>
				</li>
				<li>
					<section>类型:</section>
					<input name="cattype" type="radio" value="0" 
					% if caty['cattype'] == 0 or  caty['cattype'] == "":
						checked
					% endif
					 onClick="$("#tlabel").val('分类别名:');">分类
					<input name="cattype" type="radio" value="1"
					% if caty['cattype'] == 1:
						checked
					% endif
					 onClick="$("#tlabel").val('导航地址:');">导航
				</li>
				<li>
					<section id="tlabel">分类别名/导航地址</section>
					<input name="url_path" type="text" class="width-100" id="catshort" value="${caty['url_path']}"/>
				</li>
				<li>
					<section>描述:</section>
					<textarea name="content" class="width-100" id="catdes" style="height: 100px;">${caty['content']}</textarea>
				</li>
				<li class="push">
					<input type="submit" name="send" class="btn btn-primary" value=" 保  存 " />
				</li>		        		
			</ul>
	</form>
</div>
<div class="twothird">
	<table class="hovered" width="100%">
		<thead>
			<tr>
				<th>序号</th>
				<th>名称</th>
				<th>类型</th>
				<th>排序</th>
				<th>别名/地址</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		% for category in catslist:
			<tr title="${category['content']}">
				<td>${loop.index + 1}</td>
				<td>${category['name']}</td>
				<td>
				% if category['cattype'] == 0:
					分类
				% else:
					导航
				% endif
				</td>
				<td>${category['id_num']}</td>
				<td>${category['url_path']}</td>
				<td><a href="/manager/category/edit/${category.id}" class="edit">编辑</a> <a onClick="return confirm('确认删除该栏目分类吗？')" href="/manager/category/delete/${category.id}" class="delete">删除</a></td>
			</tr>
		% endfor
		</tbody>
	</table>
</div>


<%include file="footer.html"/>