<%include file="header.html"/>

<div class="page-header">
	<h1>DB管理 <small>数据库表修改</small></h1>
</div>
<table class="hovered" width="100%">
	<thead>
		<tr>
			<th>序号</th>
			<th>表名</th>
			<th>行数</th>
            <th>操作</th>
		</tr>
	</thead>
	<tbody>
	% for atable in tableinfo:
		<tr>
			<td>${loop.index + 1}</td>
			<td>${atable['TABLE_NAME']}</td>
			<td>${atable['TABLE_ROWS']}</td>
            <td>
                <a href="javascript:void(0)" onclick="dbtableop('${atable['TABLE_NAME']}', 'clear');">清空</a> 
                <a href="javascript:void(0)" onclick="dbtableop('${atable['TABLE_NAME']}', 'delete');">删除</a>
            </td>
		</tr>
	% endfor
	</tbody>
</table>


<%include file="footer.html"/>