<%include file="header.html"/>

<div class="page-header">
	<h1>图片管理 <small>图片修改</small></h1>
</div>
<table class="hovered" width="100%">
	<thead>
		<tr>
			<th>序号</th>
			<th>表名</th>
            <th>操作</th>
		</tr>
	</thead>
	<tbody>
	% for item in imgs:
		<tr>
			<td>${loop.index + 1}</td>
			<td>
				<a href="/static/uploads/${item}" target="_blank">
				<img src="/static/uploads/${item}" alt="${item}" height="200" width="200"/>
				</a>
			</td>
			<td><a href="/manager/img?optype=delete&name=${item}">删除</a></td>
		</tr>
	% endfor	
	</tbody>
</table>

<form  enctype="multipart/form-data" method='post'>
    <input type='file' name='img'/><br/>
    <input type='submit' value='提交' class="btn btn-primary"/>
</form>


<%include file="footer.html"/>