<%include file="header.html"/>

<script type="text/javascript" src="/static/js/base.js"></script>

	<div class="page-header">
		<h1>友情链接 <small>友情链接添加修改</small></h1>
	</div>
	<div class="third">
		<form method="post" action="/manager/links" class="forms columnar">
			<input type="hidden" name="id" value="${alink['id']}" />
			<ul>
				<li>
					<section>名称</section>
					<input name="name" type="text" class="width-100" id="linkname" value="${alink['name']}" />
				</li>
				<li>
					<section>地址</section>
					<input name="url" type="text" class="width-100" id="linkurl" value="${alink['url']}"/>
				</li>
				<li>
					<section>排序</section>
					<input name="order_id" type="text" class="width-100" id="linkurl" value="${alink['order_id']}" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')"/>
				</li>
				<li>
					<section>描述</section>
					<textarea name="content" class="width-100" id="linkdes" style="height: 100px;">${alink['content']}</textarea>
				</li>
				<li class="push">
					<input type="submit" name="send" class="btn" value="添  加" />
				</li>		        		
			</ul>
		</form>
	</div>
	<div class="twothird">
		<table class="hovered" width="100%">
			<thead>
				<tr>
					<th>序号</th>
					<th>名称</th>
					<th>排序</th>
					<th>描述</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			% for link in links:
				<tr>
					<td>${loop.index + 1}</td>
					<td><a href="${link['url']}" target="_blank">${link['name']}</a></td>
					<td>${link['order_id']}</td>
					<td>${link['content']}</td>
					<td><a href="/manager/links/edit/${link['id']}" class="edit">编辑</a> <a onClick="return confirm('确认删除该链接吗？')" href="/manager/links/delete/${link['id']}" class="delete">删除</a></td>
				</tr>
			% endfor
			</tbody>
		</table>
	</div>

<%include file="footer.html"/>