<%include file="header.html"/>

<script type="text/javascript" src="/static/js/base.js"></script>

<div class="page-header">
	<h1>Lrc管理 <small>配置lrc爬虫</small></h1>
</div>
<table class="hovered" width="100%">
	<thead>
		<tr>
			<th>序号</th>
			<th>名称</th>
			<th>排序</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	% for item in lrcfetcherlist:
		<tr>
			<td>${loop.index + 1}</td>
			<td>${item.name}           Class:${item.obj_name}</td>
			<td>${item.id_num}</td>
			<td><span class="success"> ${statusname(item.status)} </td>
			<td>
				<a href="javascript:void(0)" onclick="lrcop(${item.id}, ${item.status})">${statusopname(item.status)}</a> 
			    <a href="javascript:void(0)" onclick="lrcop(${item.id}, 2)">删除</a>
			    <a href="javascript:void(0)" onclick="modifylrc(${item.id}, '${item.name}', '${item.obj_name}', ${item.id_num})">编辑</a>
			</td>
		</tr>
	% endfor	
	</tbody>
</table>

<div align="bottom">
<form  name="newlrcform" method="post" onsubmit="return isvalidnewlrc();">
	<label>名称: </label>
	<input name="name" type="text" value=""/>
	<label>类名: </label>
	<input name="obj_name"  type="text" value="">
	<label>排序: </label>
	<input name="id_num"  type="text" value="0" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')">
	<input name="optype" type="hidden" value="3" style="visible:0;">
	<input name="id" type="hidden" value="" style="visible:0;">
	<input type="submit" value="保 存" class="btn btn-primary" />	
</form>
</div>
<%include file="footer.html"/>


<%def name="statusname(status)">
    % if 1 == status:
    	运行中
    % else:
        已禁用
    % endif
</%def>

<%def name="statusopname(status)">
	% if 1 == status:
		禁用
	% else:
	    开启
	% endif
</%def>