<%include file="header.html"/>

<script type="text/javascript" src="/static/js/base.js"></script>
<script type="text/javascript">
document.body.onload = function (){
	var pagenum = 20;
	var page = ${page};
	var count = ${count};
	var totalpage = count/pagenum  + (count%pagenum > 0 ? 1 : 0);

    pagesnode = document.getElementById('page-navigator');
    var html = '';
    var showpagenum = 10;
    var n = (page - (page%showpagenum == 0 ? showpagenum : 0))/(showpagenum)|0;
    
    var nbeg =  n*showpagenum + 1;
    var nend = nbeg + showpagenum - 1;
    if(nend > totalpage)
    	nend = totalpage;

    if(nbeg > 1) {
    	npre = nbeg - 1;
    	if(npre <= 0)
    		npre = 1;
    	html += "<li><a href='/manager/lrcview?page=" + npre + "'>...</a></li>";
    }

    for (var i = nbeg; i <= nend; i++) {
    	if(i == page)
    		html += "<li class='current'>"+ i +"</li>";
    	else
    		html += "<li><a href='/manager/lrcview?page=" + i + "'>" + i + " </a></li>";
    };

    if(nend < totalpage) {
    	nnext = nend + 1;
    	if(nnext > totalpage)
    		nnext = totalpost;
    	html += "<li><a href='/manager/lrcview?page=" + nnext + "'>...</a></li>";
    }

    pagesnode.innerHTML =html;
}
</script>

<div class="page-header">
	<h1>LrcView <small>管理lrc歌词 共<span class="success"> ${count} </span> 首</small></h1>
</div>
<table class="hovered" width="100%">
	<thead>
		<tr>
			<th>序号</th>
			<th>ID</th>
			<th>歌名</th>
			<th>艺人</th>
			<th>专辑</th>
			<th>key</th>
			<th>url</th>
			<th>状态</th>
		</tr>
	</thead>
	<tbody>
	% for item in songs:
		<tr>
			<td>${loop.index + 1 + (page)*20}</td>
			<td>${item.id}</td>
			<td>${item.song_name}</td>
			<td>${item.artist_name}</td>
			<td>${item.album_name}</td>
			<td>${item.song_key}</td>
			<td>
				<a href="/lrc/${item.id}" target="_blank">内部</a>
				<a href="${item.lrc}" target="_blank">外部</a>
			</td>
			<td>
			    ${statusname(item.lrc_content)}
			</td>
		</tr>
	% endfor	
	</tbody>
</table>
<div class="navigation">
	<ol class="pages">
		<ol class="page-navigator" id="page-navigator"></ol>
	</ol>
</div>

<%include file="footer.html"/>


<%def name="statusname(content)">
    % if content:
    	有
    % else:
        无
    % endif
</%def>