<%include file="header.html"/>

<div class="page-header">
	<h1>管理首页 <small>欢迎登录</small></h1>
</div>
<table class="hovered" width="100%">
	<thead>
		<tr>
			<th>项目名称</th>
			<th>项目内容</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td>文章管理</td>
		<td>共发表文章 <span class="success"> ${postcount} </span> 篇 <a href="/manager/postlist">管理</a> <a href="/manager/post/new">发表</a></td>
	</tr>
	<tr>
		<td>其它功能</td>
		<td><a href="/manager/pythonrun">运行python 代码</a></td>
	</tr>
	<tr>
		<td>系统介绍</td>
		<td>.... </td>
	</tr>
	<tr>
		<td>版本信息</td>
		<td>v0.1</td>
	</tr>
	<tr>
		<td>系统消息</td>
		<td>${systeminfo}</td>
	</tr>
	</tbody>
</table>
<div class="navigation">
	<ol class="pages">
		<ol class="page-navigator" id="page-navigator"></ol>
	</ol>
</div>

<%include file="footer.html"/>


<%def name="statusname(content)">
    % if content:
    	有
    % else:
        无
    % endif
</%def>