<%include file="header.html"/>

<script type="text/javascript">
document.body.onload = function (){
    var pagenum = 20;
    var page = ${page};
    var totalpost = ${totalpost};
    var totalpage = totalpost/pagenum  + (totalpost%pagenum > 0 ? 1 : 0);
    
    pagesnode = document.getElementById('page-navigator');
    var html = '';
    var showpagenum = 10;
    var n = (page - (page%showpagenum == 0 ? showpagenum : 0))/(showpagenum)|0;
    
    var nbeg =  n*showpagenum + 1;
    var nend = nbeg + showpagenum - 1;
    if(nend > totalpage)
    	nend = totalpage;

    if(nbeg > 1) {
    	npre = nbeg - 1;
    	if(npre <= 0)
    		npre = 1;
    	html += "<li><a href='/manager/postlist/page/" + npre + "'>...</a></li>";
    }

    for (var i = nbeg; i <= nend; i++) {
    	if(i == page)
    		html += "<li class='current'>"+ i +"</li>";
    	else
    		html += "<li><a href='/manager/postlist/page/" + i + "'>" + i + " </a></li>";
    };

    if(nend < totalpage) {
    	nnext = nend + 1;
    	if(nnext > totalpage)
    		nnext = totalpost;
    	html += "<li><a href='/manager/postlist/page/" + nnext + "'>...</a></li>";
    }

    pagesnode.innerHTML =html;
}
</script>
<script type="text/javascript" src="/static/js/base.js"></script>

<div class="page-header">
	<h1>所有文章 <small>所有发布文章管理 全部文章<span class="success"> ${totalpost} </span> 篇</small></h1>
</div>
<table class="hovered" width="100%">
	<thead>
		<tr>
			<th>序号</th>
			<th>标题</th>
			<th>分类</th>
            <th>状态</th>
			<th>发布时间</th>
			<th>最后编辑</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
	% for post in postlist:
		<tr>
			<td>${loop.index + 1}</td>
			<td><a href="/blog/post/${post['id']}" target="_blank">${post['title']}</a></td>
			<td>${post['category_name']}</td>
            <td>
               ${post['status']}
            </td>
			<td>${post['add_time'] | formatdate}</td>
			<td>${post['edit_time'] | formatdate}</td>
			<td><a href="/manager/post/${post['id']}" class="edit">编辑</a> <a href="/manager/postlist/delete/${page}?id=${post['id']}" class="delete">删除</a></td>
		</tr>
	% endfor
	</tbody>
</table>
<div class="navigation">
	<ol class="pages">
		<ol class="page-navigator" id="page-navigator"></ol>
	</ol>
</div>


<%include file="footer.html"/>