<%include file="header.html"/>

<script type="text/javascript" src="/static/js/base.js"></script>
<script type="text/javascript">
function $$(Id) {
    return window.document.getElementById(Id);
 }
	function addtag(tag) {
		tname = tag.innerHTML;
		tags = $$("tags");
		if(typeof tag.flag == "undefined" || tag.flag == "0"){
			tags.value +=  tname + ';';
			tag.style.backgroundColor = "#A9A9A9";
			tag.flag = "1";
		}else{
			sindex = tags.value.indexOf(tname);
			if(-1 != sindex){
				tags.value = tags.value.replace( tname + ';', "");
			}
			tag.style.backgroundColor = "#fff";
			tag.flag = "0";
		}
	}
</script>



<%def name="categoryselect(categorys, apost)">
  	% for category in categorys:
  		<option value="${category['id']}" 
  		% if category['id'] == apost['category_id']:
        	selected
      	% endif
      	>${category['name']}</option>
    % endfor
</%def>

<%def name="checktag(tagname, stags)">
	%if stags.find(tagname) != -1:
		style="backgroundColor:#A9A9A9;" flag = "1"
	%endif
	style="backgroundColor:#A9A9A9;" flag = "1"
</%def>


<div class="page-header">
	<h1>发表文章 <small>发布修改文章</small></h1>
</div>
<div class="twothird">
<form method="post" action="" class="forms columnar">
	<input type="hidden" name="id" value="${apost['id']}" />
	<ul>
		<li>
		  <input type="text" name="title" id="ptitle" value="${apost['title']}" onBlur="Trans();" onClick="if(this.value=='在这里键入标题')this.value='';" class="width-100" />
		</li>
		<li>
		  	<select name="category_id" class="selecter width-50" id="pcategory">
		  		${categoryselect(categorylist, apost)}
    		</select>
		</li>
		<li>
			<textarea name="content" id="post_content" style="width:100%;height:480px;visibility:hidden;">${apost['content']}</textarea>
		</li>
	</ul>
</div>
<div class="fifth">
	<ul class="sbar">
		<li class="snav">文章类型</li>
		<li class="stnav">
			<label><input name="post_type" type="radio" value="0" 
			% if apost['post_type'] == '0' or apost['post_type'] == '':
				checked
			% endif
			>文章</label>
			<label><input name="post_type" type="radio" value="1"
			% if apost['post_type'] == '1':
				checked
			% endif
			>页面</label>
		</li>
		<li class="snav">文章标签</li>
		<li class="stnav">
			% for tag in tags:
				<ol onClick="addtag(this);" tid="${tag['id']}" style="backgroundColor:#A9A9A9;" flag = "1" ${checktag(tag['name'], apost['tags'])}  >${tag['name']}</ol>
			% endfor
			<input type="text" name="tags" id="tags" readonly="readonly" value="${apost['tags']}" class="width-90" />
		</li>
		<li class="snav">发布状态</li>
		<li class="stnav">
			<label><input name="status" type="radio" value="1" 
			% if apost['status'] == 1:
				checked
			% endif
			>发布</label>
			<label><input name="status" type="radio" value="0"
			% if apost['status'] != 1:
				checked
			% endif
			>草稿</label>
		</li>
		<li class="snav">文章置顶</li>
		<li class="stnav">
			<label><input name="ontop" type="checkbox" value="1" 
			% if apost['ontop'] == 1:
				checked
			% endif
			>置顶</label>
		</li>
		<li class="snav">评论设置</li>
		<li class="stnav stnave">
			<label><input name="closecomment" type="checkbox" value="1" 
			% if apost['closecomment'] == 1:
				checked
			% endif
			>禁止评论</label>
		</li>
		<li>
			<input type="submit" name="send" class="btn btn-primary" value="保  存" />
		</li>
	</ul>
	</form>
</div>

<script charset="utf-8"  type="text/javascript" src="/static/kindeditor/kindeditor.js"></script>
<script charset="utf-8" type="text/javascript"  src="/static/kindeditor/lang/zh_CN.js"></script>
<script>
        KindEditor.ready(function(K) {
                window.editor = K.create('#post_content');
        });
</script>

<%include file="footer.html"/>