<%include file="header.html"/>


<div class="page-header">
	<h1>python测试 <small>测试代码</small></h1>
</div>
<div class="twothird">
<form method="post" action="" class="forms columnar" onsubmit="return invokepythoncode('content', 'result');">
	<textarea name="content" id="content" style="height:400px; width:600px;"></textarea>
	<input type="submit" name="send" class="btn btn-primary" value="run" />
</form>
</div>
<div>
<p id="result">未运行...</p>
</div>

<%include file="footer.html"/>