<%include file="header.html"/>
<script type="text/javascript" src="/static/js/base.js"></script>

<div class="page-header">
	<h1>系统设置 <small>系统参数设置</small></h1>
</div>
<table width="800" border="0" cellspacing="0" cellpadding="1" class="list">
    <form method="post" action="" class="forms columnar">
    <thead>
        <tr>
            <th width="120">设置项目</th>
            <th width="680">参数详情</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>博客作者:</td>
            <td><input type="text" name="author" id="author" value="${settings['author']}" class="width-fix" /></td>
        </tr>
        <tr>
            <td>博客标题:</td>
            <td><input type="text" name="webtitle" id="webtitle" value="${settings['webtitle']}" class="width-fix" /></td>
        </tr>
        <tr>
            <td>博客描述:</td>
            <td><textarea name="webdes" rows="4" id="webdes" class="width-fix">${settings['webdes']}</textarea></td>
        </tr>
        <tr>
            <td>博客关键字:</td>
            <td><textarea name="webkeywords" rows="4" id="webkeywords" class="width-fix">${settings['webkeywords']}</textarea></td>
        </tr>
        <tr>
            <td>博客地址:</td>
            <td><input type="text" name="weburl" id="weburl" value="${settings['weburl']}" class="width-fix" /></td>
        </tr>
        <tr>
            <td>加速地址:</td>
            <td><input type="text" name="webcdn" id="websubtitle" value="${settings['webcdn']}" class="width-fix" /></td>
        </tr>
        <tr>
            <td>主题选择:</td>
            <td><select name="theme" class="width-fix" id="template">
            % for item in settings['themes']:
                <option value="${item}"
                % if item == settings['theme']:
                    selected
                % endif
                >${item} 主题</option>
            % endfor
            </select>
            </td>
        </tr>
        <tr>
            <td>统计代码:</td>
            <td><textarea name="tongji" rows="4" id="tongji" class="width-fix">${settings['tongji']}</textarea></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" name="send" class="btn" value=" 保存设置 " /></td>
        </tr>
    </tbody>
    </form>
</table>

<%include file="footer.html"/>