<%include file="header.html"/>
<script type="text/javascript" src="/static/js/base.js"></script>


<div class="page-header">
	<h1>标签管理 <small>标签添加修改</small></h1>
</div>
<div class="third">
	<form method="post" action="/manager/tags" class="forms columnar">
		<input type="hidden" name="id" value="${tag['id']}" />
			<ul>
				<li>
					<section>名称:</section><br>
					<input name="name" type="text" class="width-50" id="name" value="${tag['name']}" />
				</li>
				<li class="push">
					<input type="submit" name="send" class="btn btn-primary" value="  保  存  " />
				</li>		        		
			</ul>
	</form>
</div>
<div class="twothird">
	<table class="hovered" width="100%">
		<thead>
			<tr>
				<th>序号</th>
				<th>名称</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		% for atag in tags:
			<tr>
				<td>${atag['id']}</td>
				<td>${atag['name']}</td>
				<td><a href="/manager/tags/edit/${atag['id']}" class="edit">编辑</a></td>
			</tr>
		% endfor
		</tbody>
	</table>
</div>


<%include file="footer.html"/>