<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%include file="header.html"/>
    <title>Title</title>
</head>
<body>
    <%include file="caption.html"/>
    <%block name="container"/>
</body>
</html>