<header class="navbar navbar-inverse navbar-static-top bs-docs-nav" id="top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Logo</a>
    </div>
    <nav id="bs-navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav" id="navbar">
            <li class="nav-item" id="weekline">
                <a href="/job/weekline">一周职位统计</a>
            </li>
            <li class="nav-item" id="workyear">
                <a href="/job/workyear">工作年限统计</a>
            </li>
            <li class="nav-item" id="company">
                <a href="/job/company">热门公司统计</a>
            </li>
            <li class="nav-item" id="education">
                <a href="/job/education">学历分析</a>
            </li>
            <li class="nav-item" id="word">
                <a href="/job/word">词云图</a>
            </li>
        </ul>
        <script type="text/javascript">
            $(document).ready(function (){
                $("#${nav}").addClass("active").siblings().removeClass("active");
            });
        </script>
    </nav>
  </div>
</header>