<%inherit file="base.html"/>

<%block name="container">
    <!-- 主题内容 -->
    <div class="container">
        <h2 class="text-center">最近一周内招聘需求最多的前20家公司    </h2>
        <table id="table"></table>
        <div id="main" style="height:400px;">
        </div>
    </div>
    <!-- 主题结束 -->

    <script type="text/javascript">
        $(function(){
            $('#table').bootstrapTable({
                url: "http://yehe.37he.cn/api/"+"company.php",
                striped: true,
                pageSize: 10,
                pagination: true,
                search: true,
                columns: [{
                    field: 'company_name',
                    title: '公司名字'
                }, {
                    field: 'salary',
                    title: '薪资范围',
                     formatter : function (value, row, index) {
                            return value.min + '-' + value.max;
                    }
                }, {
                    field: 'count',
                    title: '发布次数'
                },{
                    field: 'postion_id',
                    title: '职位链接',
                    formatter : function (value, row, index) {
                        var link =  "https://www.zhipin.com/job_detail/"+value+".html";
                        return "<a target='_blank' href='"+link+"'>查看详情</a>"
                    }
                } ],
            onLoadSuccess:function(){

                var data = $('#table').bootstrapTable('getData',true)
                initChart(data)
            },
            onPageChange:function(number, size){
                var data = $('#table').bootstrapTable('getData',true)
                initChart(data)
            }
        });


        })
        function initChart(data) {
            var myChart = echarts.init(document.getElementById('main'));
            var option  = {
            title : {
                text: '发布次数',
                subtext: '数据来源BOSS直聘',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: function (params) {

                    var res='<div><p>'+params['name'] +"<br/> 发布次数:<span>"+ params['value']+'</span>个</p>'

                    return res;
                },
            },
            xAxis: {
                type: 'category',
                data: [],
                axisTick: {
                    alignWithLabel: true
                }
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [],
                type: 'bar',
                itemStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(
                        0, 0, 0, 1,
                        [
                            {offset: 0, color: '#83bff6'},
                            {offset: 0.5, color: '#188df0'},
                            {offset: 1, color: '#188df0'}
                        ]
                    )
                }
            }
            }]
        };
        var pageResult = data
        var legend = []
        var series = []
        pageResult.forEach(function(item,index){
            //option.xAxis.data.push(item['company_name'])
            var temp = {}
            temp.name = item['company_name']
            temp.value = item['count']
            option.series[0].data.push(temp)
        })
        myChart.setOption(option)
        }
    </script>
</%block>