<%inherit file="base.html"/>

<%block name="container">
    <!-- 主题内容 -->
    <div class="container">
         <div id="main" style="height:400px;"></div>
    </div>
    <!-- 主题结束 -->

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据


        var option = {
            title: {
                text: '折线图堆叠'
            },
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [120, 200, 150, 80, 70, 110, 130],
                type: 'bar'
            },{
                data: [120, 200, 150, 80, 70, 110, 130],
                type: 'bar'
            },{
                data: [120, 200, 150, 80, 70, 110, 130],
                type: 'bar'
            }]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</%block>