<%inherit file="base.html"/>

<%block name="container">
    <!-- 主题内容 -->
    <div class="container">
        <div id="main" style="width:100%;height:600px;">
        </div>
    </div>
    <div class="container">
        <p>
            该技术词语是从招聘职位描述中提取出来的关键字。关键字一般都是英文的。中间出现中文的关键词不计算。如html5.css3不计算在内。关键词则全部处理成小写。如PHP，则处理成php。
        </p>
    </div>
    <!-- 主题结束 -->
    <script src="/static/js/echarts-wordcloud.min.js">

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        $(function(){
                var myChart = echarts.init(document.getElementById('main'));
                var option = {
                     title: {
                        text: '技术 词云图',
                        link: ''
                    },
                    tooltip : {
                            trigger: 'item',
                            formatter: "<b>{b}</b>出现{c}次"
                    },
                    series: [{
                        type: 'wordCloud',
                        gridSize: 12,
                        sizeRange: [22, 90],
                        rotationRange: [-90, 90],
                        shape: 'circle',
                        drawOutOfBound: false,
                        width:'100%',
                        right: 'center',
                        top: 10,
                        textPadding: 10,
                        height: 600,
                        textStyle: {
                            normal: {
                                color: function () {
                                    return 'rgb(' + [
                                            Math.round(Math.random() * 255),
                                            Math.round(Math.random() * 255),
                                            Math.round(Math.random() * 255)
                                        ].join(',') + ')';
                                }
                            },
                            emphasis: {
                                shadowBlur: 10,
                                shadowColor: '#333'
                            }},
                        data: [],
                }]
            };
            myChart.setOption(option);
            myChart.showLoading();
            $.get('http://yehe.37he.cn/api/word.json')
            .done(function (data) {
                myChart.hideLoading();
                result = deal_word(data)
                option.series[0].data = result
                myChart.setOption(option);
            });

            //myChart.setOption(option);
            window.onresize = myChart.resize;
        })

        function deal_word(data){
            var result  =[];
            console.log(data);
            for(key in data) {
                var tmp = {};
                tmp.name = key;
                tmp.value = data[key];
                if(data[key] > 50) {
                    tmp.textStyle = {
                        normal: {
                            color: 'black',
                            fontWeight:'bold',
                            fontSize:90
                        }};
                };

                result.push(tmp);
            }
            return result;
        }
    </script>
</%block>
