body {
    font-family: 'Helvetica Neue', Arial, "Hiragino Sans GB", sans-serif;
    height: 100%;
}

html {
    height: 100%;
}


.container {
    max-width: 980px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}
	
.bs-header {
    font-size: 16px;
    padding: 10px 10px 0px;
}

.bs-header h1 {
    font-size: 30px;
}

p {
    line-height: 24px;
}

.caption h3 a {
    color: #333;
}


/* 姝ｆ枃 */
.content h1 {
    font-size: 25px;
}

.content {
    padding: 20px 40px 0 0;
    font-size: 15px;
}

.content p {
    padding: 5px 0px;
    margin: 0;
    line-height: 26px;
}

.content img {
    margin:0 auto;
    display: table-cell;
    max-width: 90%;
}

.info {
    color: #999;
}
/*渚ф爮*/
.sidebar h3 {
    font-size: 18px;
}
.sidebar ul.links {
    -webkit-padding-start: 0;
}
.sidebar ul.links li {
    list-style: none;
    padding-bottom: 5px;
    width:100%; white-space:nowrap; word-break:keep-all; overflow:hidden; text-overflow:ellipsis;
}

.sidebar ul.ds-recent-comments {
    margin-left: -40px;
}
.under_line {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 5px;
}
.top_line {
    border-top: 1px solid #e8e8e8; 
    margin: 1px;
}
/*code*/
.docutils {
    color: #028DFA;
}