<ol class="breadcrumb">
				  <li><a href="/blog/post/${firstpost['id']}">首页</a></li>
				  <li><a href="/blog/category/${apost['category_id']}">${apost['category_name']}</a></li>
				  <li class="active">正文</li>
				</ol>
<div class="caption">
    <h3 class="under_line">${apost['title']}</h3>
    <div class="info">
    % if apost['tags']:
        标签：
        % for tag in apost['tags']:
            <a href="/blog/tag/${tag}" rel="tag">${tag}</a>&nbsp;
        % endfor
    % endif
    % if apost['category_name']:
        | 分类：<a href="/blog/category/${apost['category_id']}" title="查看 ${apost['category_name']} 中的全部文章" rel="category tag">${apost['category_name']}</a>
    % endif
    | 发布：${apost['add_time'] | formatdate}
    </div>
    <div class="post-content">
         <p>${apost['content']}</p>
         </br>
    </div>
</div>

<div class="row top_line">
    <div class="col-lg-5">
    【上一篇】
    % if prepost:
        <a href="/blog/post/${prepost['id']}">${prepost['title']}</a>
    % else:
        <span class="info">已经是第一篇</span>
    % endif
    </div>
    <div class="col-lg-5">
     【下一篇】
     % if nextpost:
        <a href="/blog/post/${nextpost['id']}">${nextpost['title']}</a>
    % else:
        <span class="info">已经是最后一篇</span>
    % endif
    </div>
</div>

<div class="row">
%if related_posts and len(related_posts) > 1:
    <div class="col-lg-5">
        <b>相关文章</b>
        <ul>
        % for thepost in related_posts:
            % if thepost['id'] != apost['id']:
                <li><a href="/blog/post/${thepost['id']}">${thepost['title']}</a></li>
            %endif
        % endfor
        </ul>
    </div>
%endif
</div>