%if postlist and len(postlist)>0:
    % for apost in postlist:
        <div class="post-block">
            <div class="post-item">
                <div class="post-title" >
                    <a title="${ apost.title }" href="/blog/post/${apost['id']}" >${ apost.title }</a>
                    <!--a href="/blog/post/${apost['id']}">
                        <button type="button" class="btn btn-primary btn-xs">阅读全文</button>
                    </a-->
                </div>

                <div class="post-excerpt" style="text-indent:2em;">
                    <p>${apost['content'] | filter_html, truncatewords}</p>
                </div>

                <div class="post-meta">
                    <span>日期：${ apost.add_time | formatdate}</span>
                    <span>分类：<a href="/blog/category/${apost['category_id']}" title="查看 ${apost['category_name']} 中的全部文章" rel="category tag">${apost['category_name']}</a> </span>
                    % if apost['tags']:
                    <span>标签：
                        % for tag in apost['tags']:
                            <a href="/blog/tag/${tag}" rel="tag">${tag}</a>
                        % endfor
                    </span>
                    % endif
                    <span><a href="#">阅读(${apost.read_count})</a></span>
                    <span><a href="#">评论(${apost.comments_count})</a></span>
                    <span><a href="#">👍(${apost.love_count})</a></span>
                    <span><a href="#">👎(${apost.hate_count})</a></span>
                </div>
            </div>
        </div>
    % endfor
%else:
<span class="info">亲, 这是片未开荒的处女地......</span>
%endif