<!DOCTYPE html>
<html lang="en">
    <head>
        <%include file="head.html" args="title='Base'"/>
        <%include file="css.html"/>
        <%include file="js.html"/>
        <%block name="meta">
            <title>Base</title>
        </%block>
    </head>
    <body>
        <div>
            <%block name="header">
                <%include file="header.html"/>
            </%block>

            <%block name="content">
                <div class="container" style="">
                    <div class="row">
                        <div class="col-md-9 col-xs-12">

                            <%block name="content_left" />

                            <%block name="content_paginate" />

                            <%block name="content_comment" />

                        </div>

                        <div class="col-md-3 col-xs-12">
                            <%block name="content_right">
                            <div class="content-sidebar">
                                <%block name="sidebar">
                                    <%block name="toc_sidebar">
                                    <div class="sidebar">
                                        <div class="title"><h3>最新文章</h3></div>
                                        <div class="git_tags">
                                            %for apost in get_newposlists():
                                                <a href="/blog/post/${apost['id']}">${apost['title']}</a>
                                            %endfor
                                        </div>
                                    </div>
                                    </%block>
                                    <%block name="category_sidebar">
                                        <div class="sidebar">
                                            <div class="title"><h3>文章分类</h3></div>
                                            <div class="git_tags">
                                                %for acategory in get_categorys():
                                                    <a href="/blog/category/${acategory['id']}">${acategory['name']}</a>
                                                %endfor
                                            </div>
                                        </div>
                                    </%block>
                                    <%block name="tag_sidebar">
                                        <div class="sidebar" >
                                            <div class="title"><h3>热门标签</h3></div>
                                            <div class="git_tags">
                                                %for atag in get_tags():
                                                    <a href="/blog/tag/${atag['name']}">${atag['name']}</a>
                                                %endfor
                                            </div>
                                        </div>
                                    </%block>
                                </%block>
                            </div>
                            </%block>
                        </div>
                    </div>
                </div>
            </%block>

            <%block name="footer">
                <%include file="footer.html"/>
            </%block>
        </div>
        <%block name="script_extends">
        </%block>
    </body>
</html>