<div class="footer" style="">
    <div class="container">
        <div class="col-sm-4">
            <div class="content">
                <h4 class="title">关于本站</h4>
                <p>1. 本站于${settings['createtime']}开始上线</p>
                <p>2. ${settings['development_info']}</p>
                <p>3. ${settings['arrange_info']}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="content">
                <h4 class="title">联系站长</h4>
                <p>1. 微信号：${socials['wechat']}</p>
                <p>2. QQ：${socials['qq']}</p>
                <p>3. statistics</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="content">
                <h4 class="title">友情链接</h4>
                % if links and len(links) >0:
                    % for link in links:
                    <p><a href="${link['url']}" target="_blank">${ link.name }</a></p>
                    % endfor
                %endif
            </div>
        </div>
    </div>

    <div class="container copyright">
        <span >© 2019 ${settings['webtitle']} </span>
        <span class="post-meta-divider">|</span>
        <span><a href="http://icp.chinaz.com/info?q=${settings['webdomain']}" target="_blank">${settings['record_info']}</a></span>
    </div>
</div>