<meta charset="UTF-8">
<link rel="shortcut icon" href="${ static_url('favicon.ico') }" type="image/x-icon" >
<meta http-equiv="X-UA-Compatible" content="IE=edge" >
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">