<div class="navbar  navbar-inverse navbar-fixed-top bs-docs-nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" >帅锋的个人网站</a>
        </div>

        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse bs-navbar-collapse" >
            <ul class="nav navbar-nav">
                ## 默认菜单栏
                <li><a href="/index" ><i class="menu-item-icon fa fa-fw fa-home"></i>首页</a></li>
                <li><a href="/job" ><i class="menu-item-icon fa fa fa-book"></i>工作</a></li>
                <li><a href="/music" ><i class="menu-item-icon fa fa fa-calendar"></i>音乐</a></li>
                <li><a href="/movie" ><i class="menu-item-icon fa fa fa-film"></i>影单</a></li>
                <li><a href="/aboutus" ><i class="menu-item-icon fa fa fa-pencil-square"></i>关于</a></li>

                ## 自定义菜单栏
            </ul>
            <ul class="nav navbar-nav">
                <li class="navbar-search ">
                    %if search_flag:
                    <form action="/search/${search_flag}" class="navbar-form navbar-right">
                        <input type="search" name="q"  placeholder="搜索..." autocomplete="off" class="form-control"/>
                        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                    %else:
                    <form action="/search" class="navbar-form navbar-right">
                        <input type="search" name="q"  placeholder="搜索..." autocomplete="off" class="form-control"/>
                        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                    %endif
                </li>
            </ul>

            <ul class="nav navbar-nav">
                % if user:
                    <li class="">
                        <a href="#" id="userinfo">${user.name}</a>
                        <ul id="user_dropdown" class="dropdown-menu" style="position:absolute; display:none;">
                            <li><a href="#">个人信息</a></li>
                            <li><a href="/logout">退出</a></li>
                        </ul>
                        <script type="text/javascript">
                            $('#userinfo').mouseover(function(){
                                $('#user_dropdown').css('display','block');
                            });
                            $('#user_dropdown').mouseleave(function(){
                                $(this).css('display','none');
                            }).blur(function(){
                                $(this).css('display','none');
                            }).focusout(function(){
                                $(this).css('display','none');
                            });
                        </script>
                    </li>
                    <li class="">
                        <a href="/my_notifications"><i class="fa fa-bell" aria-hidden="true"></i>
                            %if user.get_unread_count:
                            <span class="badge"> ${user.get_unread_count} </span>
                            %endif
                        </a>
                    </li>

                % else:
                    <li class="">
                        <a href="/login">登录</a>
                    </li>
                % endif
            </ul>
        </div>
    </div>
</div>