<!--继承的父模板-->
## extends.html
<%inherit file="base.html"/>

<%block name="meta">
    <title>${settings['webtitle']}</title>
    <meta name="description" content="${settings['webdes']}" />
    <meta name="keywords" content="${settings['webkeywords']}" />
</%block>

<%block name="content_left">
    <div class="django-panel">
        <div class="post-list">
            <%include file="article.html"/>
            <%include file="pagenav.html"/>
        </div>
    </div>
</%block>
