<!--继承的父模板-->
## extends.html
<%inherit file="base.html"/>

<%block name="meta">
    <title>${settings['webtitle']}</title>
    <meta name="description" content="${settings['webdes']}" />
    <meta name="keywords" content="${settings['webkeywords']}" />
</%block>

<%block name="content_left">
    <div class="django-panel">
        <div class="post-list">
            %if searchlist and len(searchlist) > 0:
            <div >
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <td>序号</td>
                            <td>名称</td>
                            <td>地址</td>
                        </tr>
                    </thead>
                    <tbody>
                        % for videoinfo in searchlist:
                        <tr>
                            <td>${loop.index + 1}</td>
                            <td><a href="${videoinfo['url']}" target="_blank">${videoinfo['name']}</a></td>
                            <td><a href="${videoinfo['url']}" target="_blank"><img src="${videoinfo['img']}" alt="${videoinfo['name']} - 还不快来看我" title="${videoinfo['name']} - 还不快来看我"  width=202px height=113px></a></td>
                        </tr>
                        % endfor
                    </tbody>
                </table>
            </div>
            %endif
        </div>
    </div>
</%block>