<!--继承的父模板-->
## extends.html
<%inherit file="base.html"/>

<%block name="meta">
    <title>${settings['webtitle']}</title>
    <meta name="description" content="${settings['webdes']}" />
    <meta name="keywords" content="${settings['webkeywords']}" />
</%block>

<%block name="content_left">
    <div class="django-panel">
        <div class="post-list">
            % if searchlist and len(searchlist) > 0:
            <div>
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <td>序号</td>
                            <td>歌名</td>
                            <td>艺人</td>
                            <td>所属专辑</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                    % for songinfo in searchlist:
                        <tr>
                            <td>${loop.index + 1}</td>
                            <td>${songinfo['song_name']}</td>
                            <td>${songinfo['artist_name']}</td>
                            <td>${songinfo['album_name']}</td>
                            <td><a href="javascript:lookMusic('${songinfo['song_key']}');">查看</a></td>
                            <td><a href="javascript:downloadMusic('${songinfo['song_key']}');">下载</a></td>
                        </tr>
                    % endfor
                    </tbody>
                </table>
            </div>
            % endif
        </div>
    </div>
</%block>
<%block name="script_extends">
    <script type="text/javascript" src="${ static_url('js/base.js') }"></script>
</%block>
