
<div class="pagination pagination-small pagination-centered">	
	<ul class="pagination" id="page-navigator">
	</ul>
</div>

<script type="text/javascript" src="${ static_url('js/base.js') }"></script>
<script type="text/javascript">
	//url = window.location.href.replace(window.location.search,'');
	shownavpages("blog?page=", ${page}, ${count}, 10, ${prepagecnt});
</script>