<!--继承的父模板-->
## extends.html
<%inherit file="base.html"/>

<%block name="meta">
    <title>${settings['webtitle']}</title>
    <meta name="description" content="${settings['webdes']}" />
    <meta name="keywords" content="${settings['webkeywords']}" />
</%block>

<%block name="content_left">
    <div class="django-panel">
        <div class="post-list">
            <div class='col-lg-10'>
				<%include file="apost.html"/>
			</div>
        </div>
    </div>
</%block>