<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

% if username!='no':
    欢迎用户 ${ username } 登录
    <br>
    <img src="/static/images/c.jpg" width="250" height="250" >
    <br>

% else:
    您还没有登录
% endif
<br>
% for url in urllist:
    <a href="${ url[0] }" target="_blank" >${ url[1] }</a> <br>
% endfor

<% mailLink="<a href='mailto:contact@burtsbooks.com'>Contact Us</a>" %>

${ mailLink }

</body>
</html>